@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
--clr-sedans: #fe216f;
--clr-suvs: #4c36bb;
--clr-luxury: #091e51;

   /* Neutral */
--clr-white: #f2f2f2; 
--clr-background: #8BC6EC;    
}

body {
    font-size: 15px;
    min-height: calc(100vh - 1px);
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    margin: 5.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

    /* container */

.container {
    width: 20.625rem;
    height: 82.875rem;
}

.container section {
    width: 100%;
    height: 27.625rem;
    padding: 3.125rem;
    margin: 0;
    color: var(--clr-white);
}

.container img {
    height: 2.5rem;
    margin-bottom: 1.5rem;
}

.container h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.container p {
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.container .sedans {
    background-color: var(--clr-sedans);
    border-radius: 0.5rem 0.5rem 0 0;
}

.container .suvs {
    background-color: var(--clr-suvs);
}

.container .luxury {
    background-color: var(--clr-luxury);
    border-radius: 0 0 0.5rem 0.5rem;
}

    /* Buttons */

.btn-learn-more {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 9.375rem;
    height: 3.125rem;
    border: 3px solid white;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--clr-white);
    transition: 0.5s ease-in-out;
}

.sedans .btn-learn-more {
    color: var(--clr-sedans);
}

.suvs .btn-learn-more {
    color: var(--clr-suvs);
}

.luxury .btn-learn-more {
    color: var(--clr-luxury);
}

.btn-learn-more:hover {
    background-color: transparent;
    color: #fff;
}

    /* media query */

 @media (min-width: 992px) {

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 31.25rem;
        width: 57.6rem;
        margin: auto;
    }

    .container section {
        height: 100%;
        width: 19.2rem;
        padding: 3rem 3.125rem;
    }

    .container img {
        margin-bottom: 1.75rem;
    }

    .container h1 {
        font-size: 2.5rem;
        margin-bottom: 1.75rem;
    }

    .container p {
        font-size: 0.938rem;
        line-height: 1.6;
        word-spacing: 1px;
        margin-bottom: 5.125rem;
    }

    .container .sedans {
        border-radius: 0.5rem 0 0 0.5rem;
        padding-right: 3rem;
    }   

    .container .suvs {
        padding-right: 2.75rem;
    }

    .container .luxury {
        border-radius: 0 0.5rem 0.5rem 0;
        padding-right: 2.5rem;
    }
    
    
 }